<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autotag App</title>
</head>
<body>
        <div>
            <h1><a href="/">Autotagging Application</a></h1>
        </div>

        <div>
            <h2><a href="">IMAGE</a></h2>
            <p> Aquí despliego la imagen</p>
        </div>

        <div>
            <h2><a href="">button</a></h2>
            <p> boton para subir imagen</p>
        </div>

        <div>
            <h2><a href="">TAGS</a></h2>
            <p>Aquí los taggs</p>
        </div>
    </body>
</html>
