<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autotag App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
        <div>
            <h1><a href="/">Autotagging Application</a></h1>
        </div>

        <div>
<!--            <label for="files"> <a id="home-open-image" >open image </a></label>-->

            <form action="">
                <input type="text" id="input1"/>
                <input type="file" id="fileSelect" onchange="previewFile()" />
                <button type="button" onclick="doSubmit()">Submit</button>
            </form>
        </div>

        <div>
            <h2>IMAGE</h2>
            <!--                <input id="files" style="visibility:hidden;" type="file" onchange="previewFile()">-->
            <img  id="imgedit"  src="" alt="Upload whatever image you want " style=" max-width:50%; max-height:50%;" />

        </div>
        <h2>TAGS</h2>
        <div id="labels">
            <p id = "par"> Aquí aparecerán los tags</p>
        </div>
    </body>
</html>
